# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/angular-demo/dist

# dependencies
/angular-demo/node_modules

# IDEs and editors
/angular-demo/.idea

/grpc-server/target